<div class="container-fluid" style="padding-top: 5%;"> 
    <!-- For image and form holder -->
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="border p-3 rounded" style="width:800px;">
        <div class="row">
            <div class="col-md-5">
                <img src="../../assets/images/login_lms3.jpg" style="height: 300px; width: 300px">
            </div>
            <div class="col-md-7" style="margin-top: 50px;">
                <div class="row mb-2">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required formControlName="inputEmail">
                    <span class="form-text text-danger" *ngIf="inputEmail && inputEmail.invalid && inputEmail.touched">
                        Email is invalid
                    </span>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="inputPassword">
                    <span class="form-text text-danger" *ngIf="inputPassword && inputPassword.invalid && inputPassword.touched">
                        Password is required and should be 6 characters
                    </span>
                </div>
                <!-- For routing to user page-->
                <div class="row" style="margin-left: 45%;">
                    <button class="btn btn-primary d-grid" type="button" [disabled]="loginForm.invalid" [routerLink]="['staff']">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
