<mat-accordion>
    <mat-expansion-panel disabled expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Book Allocation</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col">
          <div class="col">
            Search by Name: <input type="text" id="x">
          </div>
        </div>
        <div class="col" style="margin-right: 50px;">
          <button type="button" class="btn btn-primary" (click)="openModel()">
            Allocate Books
          </button>
        </div>
      </div>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b><h5 class="modal-title">Book Allocation</h5></b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseModel()">
                      <span aria-hidden="true">&times;</span>
                    </button>   
                </div>
                <form [formGroup]="bAllotForm" (ngSubmit)="bAllotSubmitted()" method="get">
                <div class="row" style="width:100%; margin-top: 10px; margin-left: 5px;">
                    <div class="col" > 
                        <!-- <input type="text" class="form-control" id="uniId" formControlName="uniId" placeholder="Enter University Id"> -->
                          <mat-form-field appearance="fill">
                            <mat-label>Select university</mat-label>
                            <mat-select id="uId" formControlName="uId" style="width: 100%;">
                              <mat-option *ngFor="let university of universities" [value]="university.value">
                                {{university.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col" > 
                          <mat-form-field appearance="fill">
                            <mat-label>Select student</mat-label>
                            <mat-select id="sId" formControlName="sId">
                              <mat-option *ngFor="let student of students" [value]="student.value">
                                {{student.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row" style="margin-left: 5px;">
                    <div class="col" style="width:50px" > 
                        <mat-form-field appearance="fill">
                          <mat-label>Select book</mat-label>
                          <mat-select id="bId" formControlName="bId">
                            <mat-option *ngFor="let book of books" [value]="book.value">
                              {{book.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>
                <div style="margin-bottom: 10px; margin-left: 45%;">
                    <button type="submit" class="btn btn-primary" [disabled]="bAllotForm.invalid" (click)="CloseModel()">Submit</button>
                </div>
                </form>
            </div>
        </div>
      </div>  
      <!-- Table  -->
      <div class="table-container" style="padding-top: 20px;">
        <table mat-table [dataSource]="dataSource">
                
            <!-- Position Column -->
            <ng-container matColumnDef="uName">
            <th mat-header-cell *matHeaderCellDef> University Name </th>
            <td mat-cell *matCellDef="let element"> {{element.uName}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="sName">
            <th mat-header-cell *matHeaderCellDef> Student Name </th>
            <td mat-cell *matCellDef="let element"> {{element.sName}} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="bName">
            <th mat-header-cell *matHeaderCellDef> Book Name </th>
            <td mat-cell *matCellDef="let element"> {{element.bName}} </td>
            </ng-container>
              
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                    <button class="btn" id="btn1" (click)="openModel()"><i class="fa fa-edit"></i></button>
                    <button class="btn" id="btn1" style="color:red"><i class="fa fa-trash"></i></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


    </mat-expansion-panel>
</mat-accordion>